<!DOCTYPE HTML>
<html>
<head>
  <title>{% block title %}Business Website{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
</head>

<body class="is-preload">

<div id="wrapper">

  <div id="main">
    <div class="inner">

      <header id="header">
  <a href="/" class="logo"><strong>Eds Painting LLC</strong></a>
  <ul class="icons">
    <li>
      <a href="https://www.facebook.com/EdsPainting" target="_blank" class="icon brands fa-facebook-f" aria-label="Facebook"></a>
    </li>
    <li>
      <a href="https://www.instagram.com/edspainting_llc" target="_blank" class="icon brands fa-instagram" aria-label="Instagram"></a>
    </li>
  </ul>
</header>

      {% block content %}{% endblock %} <!-- Page-specific content goes here -->

    </div>
  </div>

  <div id="sidebar">
    <div class="inner">

      <nav id="menu">
  <header class="major"><h2>Menu</h2></header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/gallery/painting">Painting Gallery</a></li>
    <li><a href="/gallery/epoxy">Epoxy Gallery</a></li>
    <li><a href="/estimate">Get an Estimate Tool</a></li>
    {% if session.get('admin_logged_in') %}
      <li><a href="/admin">Admin</a></li>
      <li><a href="/logout">Logout</a></li>
    {% endif %}
  </ul>
</nav>


      <section>
        <header class="major"><h2>Get in touch</h2></header>
        <ul class="contact">
          <li class="icon solid fa-people-arrows">Edgar Parra</li>
          <li class="icon solid fa-envelope">edspaintingllc@gmail.com</li>
          <li class="icon solid fa-phone">(201) 669-6118</li>
          <li class="icon solid fa-home">Montvale, New Jersey</li>
          <li class="icon solid fa-hammer">Website made by Edgar Parra Jr.</li>
        </ul>
      </section>

    </div>
  </div>

</div>

<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>
</html>
