{% extends "base.html" %}
{% block title %}Epoxy Flooring Gallery{% endblock %}

{% block content %}
<section>
  <header class="major">
    <h2>Epoxy Flooring</h2>
    <p>Garage, commercial, and decorative epoxy floors</p>
  </header>

  <div class="posts">
    <article>
      <img src="{{ url_for('static', filename='images/epoxy/epoxy1.jpg') }}"
           class="gallery-img"
           alt="Epoxy Flake Garage Floor & Staircase">
      <h3>Epoxy Flake Garage Floor & Staircase</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/epoxy/epoxy2.jpg') }}"
           class="gallery-img"
           alt="Prepping Epoxy Flooring">
      <h3>Prepping Epoxy Flooring</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/epoxy/epoxy3.jpg') }}"
           class="gallery-img"
           alt="Epoxy Garage Flake Floor">
      <h3>Epoxy Garage Flake Floor</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/epoxy/epoxy4.jpg') }}"
           class="gallery-img"
           alt="Epoxy Garage White Color">
      <h3>Epoxy Garage White Color</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/epoxy/epoxy5.jpg') }}"
           class="gallery-img"
           alt="Epoxy Floor Grey Color">
      <h3>Epoxy Floor Grey Color</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/epoxy/epoxy6.jpg') }}"
           class="gallery-img"
           alt="Epoxy Garage MultiColor & Design">
      <h3>Epoxy Garage MultiColor & Design</h3>
    </article>
  </div>
</section>
{% endblock %}
