{% extends "base.html" %}
{% block title %}Painting Gallery{% endblock %}

{% block content %}
<section>
  <header class="major">
    <h2>Painting Projects</h2>
    <p>Interior and exterior painting work</p>
  </header>

      <article>
        <h3>For more images and recent work check out our Instagram and Facebook!<br>
          Instagram: @edspainting_llc <br>
          Facebook: @EdsPainting
        </h3>
    </article>

  <div class="posts">

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting1.JPG') }}"
           class="gallery-img"
           alt="Freshly painted upscale interior with staircase and hardwood floors">
      <h3>Interior Staircase & Living Space</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting2.JPG') }}"
           class="gallery-img"
           alt="Interior Hallway & Custom Trim">
      <h3>Interior Hallway & Custom Trim</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting3.JPG') }}"
           class="gallery-img"
           alt="Interior Dining Room">
      <h3>Interior Dining Room</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting4.JPG') }}"
           class="gallery-img"
           alt="Interior Foyer & Staircase">
      <h3>Interior Foyer & Staircase</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting5.JPG') }}"
           class="gallery-img"
           alt="Interior mudroom painting">
      <h3>Interior Mudroom</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting7.JPG') }}"
           class="gallery-img"
           alt="Exterior Paint">
      <h3>Exterior Paint</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting8.jpg') }}"
           class="gallery-img"
           alt="Exterior Paint">
      <h3>Exterior Paint</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting9.jpg') }}"
           class="gallery-img"
           alt="Exterior Stain Panels">
      <h3>Exterior Stain Panels</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting10.jpg') }}"
           class="gallery-img"
           alt="Interior Dining Room">
      <h3>Interior Dining Room</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting11.jpg') }}"
           class="gallery-img"
           alt="Interior Mudroom">
      <h3>Interior Mudroom</h3>
    </article>

    <article>
      <img src="{{ url_for('static', filename='images/painting/painting12.jpg') }}"
           class="gallery-img"
           alt="Interior Cabinets and Ceiling Trim">
      <h3>Interior Cabinets and Ceiling Trim</h3>
    </article>

  </div>
</section>
{% endblock %}
